<ul class='unstyled custom-container'>
  <li class='nav-selected'>
    <a href='<%= Drop.settings[:url] %>' title='Files'><div class='nav-icon picto picto-file icon-2x'></div></a>
  </li>

  <li id='auth-button'>
  </li>
</ul>
