<ul class='unstyled custom-container'>
  <% if Drop.settings[:global_nav_config] %>
    <% Drop.settings[:global_nav_config]['items'].to_a.each do |item| %>
      <li <% if item['selected'] %>class='nav-selected'<% end %>>
        <a href='<%= item['url'] %>' title='<%= item['name'] %>'><div class='nav-icon icon-2x <%= item['icon_class'] %>'></div></a>
      </li>
    <% end %>
  <% else %>
    <li class='nav-selected'>
      <a href='<%= Drop.settings[:url] %>' title='Files'><div class='nav-icon picto picto-file icon-2x'></div></a>
    </li>
  <% end %>

  <li id='auth-button'>
  </li>
</ul>
