<ul class='unstyled custom-container'>
  <li class='nav-selected'>
    <a href='<%= Drop.settings[:url] %>' title='Drop'><div class='nav-icon fa fa-file-o icon-2x'></div></a>
  </li>

  <li id='auth-button'>
  </li>
</ul>
