<ul class="unstyled app-nav-list" data-view="AppNavigation NavigationActive" data-active-class="active" data-active-selector='a'>
  <a href="<%= full_path("/uploads/new") %>" data-fragment="uploads/new" data-match-url="/uploads/new" data-view='AppNavigationItem'>
    <li>
      <i class=""></i>Upload
    </li>
  </a>
  <a href="<%= full_path("/history") %>" data-fragment="history" data-match-url="/history" data-view='AppNavigationItem'>
    <li>
      <i class=""></i>History
    </li>
  </a>
  <a href="<%= full_path("/preferences") %>" data-fragment="preferences" data-match-url="/preferences" data-view='AppNavigationItem'>
    <li>
      <i class=""></i>Preferences
    </li>
  </a>
</ul>
