:{$PORT}

tls off
root public/assets
log stdout
tlsredirect
gzip

rewrite / /drop.html
rewrite {
  if {path} not_has /assets
  to {path} /drop.html
}

header / {
  Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
  X-XSS-Protection "1; mode=block"
  X-Content-Type-Options "nosniff"
  X-Frame-Options "DENY"
  Content-Security-Policy "default-src 'self'; connect-src *; frame-ancestors 'none'; child-src https://*.cupcake.io; frame-src https://*.cupcake.io; img-src *; object-src 'none'"
}
